<beans:beans xmlns="http://www.springframework.org/schema/security"
        xmlns:beans="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.1.xsd">

<http auto-config="true" use-expressions="true">
    <intercept-url pattern="/mymdb" access="permitAll"/>
    <intercept-url pattern="/mymdb/error" access="permitAll"/>
    <intercept-url pattern="/mymdb/movies/search" access="permitAll"/>
    <intercept-url pattern="/mymdb/movies" access="permitAll"/>
    <intercept-url pattern="/mymdb/movies/view" access="permitAll"/>
    <intercept-url pattern="/mymdb/admin**" access="hasRole('ROLE_ADMIN')" />
    <intercept-url pattern="/mymdb/user**" access="hasRole('ROLE_USER')" />
    <form-login  login-page="/mymdb/login"
                 login-processing-url="/j_spring_security_check"
                 username-parameter="username"
                 password-parameter="password"
                 authentication-failure-url="/error" />
    <csrf/>
</http>

<authentication-manager >
    <authentication-provider user-service-ref="userDetailsServiceImp"/>
</authentication-manager>

<beans:bean id="userDetailsServiceImp" class="com.app.security.UserDetailsServiceImp" />

</beans:beans>